body {
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/*--------------------- custom css ----------------------*/
.headerBox {
    background: linear-gradient(166.97deg, #38ADAE 8.59%, #6BA4AD 35.48%, #80A0AC 46.64%, #8D9EAC 53.24%, #F18CAA 106.01%);

}

.title:before {
    content: "";
    margin: 0 0.5em;
    display: inline-block;
    border: 0.7rem solid transparent;
    border-top: 0.7rem solid #B42D55;
    border-bottom: 0 none;
}
@media screen and (max-width: 620px) {
    .title:before {
        border-width: 0.5rem;
    }
}

.footer {
    background: linear-gradient(154.13deg, #F18CAA -1.22%, #108A8B 93.17%);

}
